.button{
    border-radius: 10px;
    margin-left: 10px;
    background-color: darkgrey;
    font-size: large;
    font-weight: 500;
    color: aliceblue;
}
.button:hover{
    background-color: rgb(157, 163, 166);
    color: aliceblue;
}
input{
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
}